body{
     background: #616161; 
 background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  
 background: linear-gradient(to right, #9bc5c3, #616161); 
}
.mul{
    display: inline-block;
    margin: 40px;
    border: 3px solid black;
}
.cont{
    width: 100vw;
    height: 80vh;
    
}